<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.debug.core.launching.webPageLaunch">
<booleanAttribute key="auto_generated_url" value="true"/>
<stringAttribute key="base_url" value="http://localhost/"/>
<stringAttribute key="file_name" value=""/>
<stringAttribute key="name" value="localhost"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
</launchConfiguration>
